@import "zen";
$zen-column-count: 7;
$zen-gutter-width: 0px;
$light_grey: #efefef;

@mixin brd($radius){
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin size-params {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
  padding: 0px;
}

html, button, input, select, textarea {
  font-family: "Open sans",
               "Helvetica Neue",
               "HelveticaNeue",
               Helvetica, Arial, sans-serif;
  font-weight: 400; /* normal */
  font-size: 1em;
  color: #333;
  font-smooth:always;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

a {
  color: #30659b;
  text-decoration: none;
}

#wrapper {
  @include zen-clear;
  @include zen-grid-container;
  @include size-params;
  background-color: white;
  background-repeat: no-repeat;
}

.news_container {
  h3 {
    color: black;
    font-size: 18px;
    padding: 0;
    margin: 0;
  }
  @include brd(5px);
  width: 518px;
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  .news_header {
    padding: 10px;
    box-shadow: 0 0 0 -3px rgba(0,0,0,0);
    -webkit-transition: box-shadow .3s ease-out;
    -moz-transition: box-shadow .3s ease-out;
    -o-transition: box-shadow .3s ease-out;
    transition: box-shadow .3s ease-out;
    border-bottom: 1px solid #eee;
  }
}

.twitter_container {
  margin: 1em;
}

.item {
  margin-bottom: 0.5em;
}

.item_delete {
  @include brd(8px);
  background-color: #fdd;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid red;
}

.news_item {
  .news_controls {
    display: block;
    padding: 0.5em;
    text-align: right;
  }
  .news_item_header {
    margin-top: 0.5em;
    .news_date {
      display: inline-block;
      float: right;
      padding: 0.5em;
      margin: 0;
      color: #666;
      font-size: 0.8em;
    }
    .news_subject {
      padding-left: 1em;
      font-weight: bold;
    }
  }
  .news_body {
    padding-left: 1em;
    border-bottom: 1px solid #e8e8e8;
  }
}

.news_hidden {
  border: 2px solid red;
}

#header {  
  @include brd(8px);
  padding: 1em;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #30659b;
  color: white;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    float: left;
    span {
      font-size: 0.5em;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
  .menu {
    font-size: 1.4em;
    text-align: right;
    list-style-type: none;
    ul {
      padding-top: 0.4em;
      margin: 0;
    }

    li {
      display: inline;
      padding: 0;
      padding-left: 1em;
      margin: 0;
    }
    a { color: #fff; }
  }

}

#search {
  @include zen-grid-item(7, 1);
  @include brd(8px);
  width: 100%;
  background-color: $light_grey;
  padding: 0.3em;
  margin-bottom: 0.5em;
  text-align: center;
}

#flash {
  @include brd(5px);
  @include zen-grid-item(7, 1);
  font-size: 1.2em;
    .info {
      padding: 1em;
      color: green;
      background-color: #dfd;
      border-color: #cfc;
      border-width: 1px;
    }
    .error {
      padding: 1em;
      color: #800;
      font-weight: bold;
      background-color: #fdd;
      border-color: #833;
      border-width: 1px;
    }
}

#content {
  @include zen-grid-item(7, 1);
  width: 100%;
  background-color: #fff;
}

#transcripts_data {
  @include zen-clear;
  @include size-params;
  padding: 0.5em;
  a {
    text-decoration: none;
    color:   #30659b;
  }
}

#footer {
  @include zen-clear;
  @include zen-grid-item(7, 1);
  @include brd(8px);
  width: 100%;
  padding: 0.5em;
  background-color: #30659b;
  color: #fff;
  a {
    text-decoration: none;
    color: #fff;
  }
}

#data_chart {
  @include zen-clear;
  @include zen-grid-item(5, 1);
}

#data_table {
  @include zen-grid-item(2, 6);
  padding-top: 1em;
}

#login_form {
  @include zen-grid-item(2, 3);
  padding: 1em;
  background-color: $light_grey;
  margin-top: 3em;
  margin-bottom: 3em;
  label {
    display: inline-block;
    width: 100px;
  }
}

#regression_chart_container {
  #fold_plot_vertical_slider_container {
    float: right;
    #fold_plot_vertical_slider{
      positon: relative;
      top: 198px;
      left: -1100px;
      height: 600px;
      z-index: 10;
    }
  }

  #regression_chart {}
}

.dir_item {
  @include brd(8px);
  padding: 10px;
  width: 90%;
  background-color: #fff;
  color: #000;
  margin: 1em;
}

.form_section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.transcript_details {
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid grey;
  strong {
    display: inline-block;
    width: 8em;
  }
}

.ui-menu-item {
  font-size: 0.8em;
  text-wrap: normal;
  border-bottom: 1px solid #aaa;
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

dd, dt{
    display: inline;
    margin: 0;
}

dt {
  font-weight: bold;
}
dd:before {
    content: ' '; /* space them */
}
dt:before { /* insert line break before <dt> */
    content:"\A";
    white-space:pre;
}
dt:first-child:before { /* disable line break before the first <dt> */
    content: none;
}

.home_img {
  float:left;
  margin: 1em;
}

.sequence {
  font-family: "Lucida Console",
               "Courier New",
               "Monospace";
  padding: 0.5em;
  margin: 0.5em;
  marging-left: 1em;
  border: 1px solid #ccc;
}

.chart_container {
  margin-bottom: 1em;
  display: inline-block;
  font-family: "Arial", 
               "Helvetica", 
               "sans-serif";
  width:100%;
}

.chart {
  float: left;
}

.legend {
  float: left;
  margin-left: 15px;
}

.y_axis {
  float: left;
  width: 40px;
  height: 340px;
}

.highcharts-legend-item{
  cursor: pointer;
}

/* Responsive css menu */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #39b1cc;
  margin-bottom: 0.3em;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);
}
#cssmenu > ul {  
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li {
  float: left;
  display: inline-block;
}
#cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li > a {
  padding: 8px 15px 10px 8px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
  color: #d3eced;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 11px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
#cssmenu > ul > li > ul {
  top: 120px;
}
#cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
#cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 11px 25px;
  width: 180px;
  color: #777777;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color: #333333;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    background: #39b1cc;
  }
  #cssmenu > ul {
    display: none;
  }
  #cssmenu > ul.open {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #cssmenu.align-right > ul {
    float: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu > ul > li > a {
    padding: 8px 15px 10px 8px;
    border-right: 0;
  }
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li.active > a {
    background: rgba(0, 0, 0, 0.1);
  }
  #cssmenu #menu-button {
    display: block;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    color: #d3eced;
    padding: 8px 15px 10px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;  
    cursor: pointer;
  }
  #cssmenu ul ul,
  #cssmenu ul li:hover > ul,
  #cssmenu > ul > li > ul,
  #cssmenu ul ul ul,
  #cssmenu ul ul li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul li:hover > ul,
  #cssmenu.align-right > ul > li > ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  #cssmenu ul ul li {
    width: 100%;
  }
  #cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 35px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  #cssmenu ul ul li:first-child > a,
  #cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    border-bottom: 2px solid #d3eced;
    right: 25px;
    top: 8px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    right: 25px;
    top: 18px;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
}

/* Customize Highcharts */

.highcharts-range-selector-buttons{
  display:none;
}

.highcharts-range-selector{
  display:none;
}

.highcharts-input-group{
  cursor: default;
}

